<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cjs200809.dao.BoardDao">
	
	<insert id="writeBoard">
		insert into board values (default,#{vo.mMID},#{vo.bNAME},#{vo.bTITLE},default,default,#{vo.bCONTENT});
	</insert>

	<select id="bListTotRecCnt" resultType="int">
		select count(*) from board;
	</select>

	<select id="bList" resultType="com.spring.cjs200809.vo.BoardVo">
		select * from board order by bIDX desc limit #{startNo},#{pageSize};
	</select>
	
	<select id="viewBoard" resultType="com.spring.cjs200809.vo.BoardVo">
		select * from board where bIDX=#{bIDX};
	</select>
	
	<update id="addViewCnt">
		update board set bVIEWCNT=bVIEWCNT+1 where bIDX=#{bIDX};
	</update>
	
	<update id="updateBoard">
		update board set bNAME=#{vo.bNAME}, bTITLE=#{vo.bTITLE}, bCONTENT=#{vo.bCONTENT} where bIDX=#{vo.bIDX};
	</update>
	
	<delete id="deleteBoard">
		delete from board where bIDX=#{bIDX};
	</delete>
	
<!-- 	<select id="prevAndnext" resultType="com.spring.cjs200809.vo.BoardVo">
		select bTITLE 
			from board 
			where bIDX in (
				(select bIDX from board where bIDX &lt; #{bIDX} order by bIDX desc limit 1),
				(select bIDX from board where bIDX &gt; #{bIDX} order by bIDX limit 1)
			);		
	</select> -->
	

	

</mapper>