<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cjs200809.dao.GoodsDao">
	
	<select id="goodsListNew" resultType="com.spring.cjs200809.vo.GoodsVo">
		select * from goods order by gIDX desc limit #{startNo},#{pageSize};
	</select>

	<select id="goodsListBest" resultType="com.spring.cjs200809.vo.GoodsVo">
		select * from goods order by gSALES desc limit #{startNo},#{pageSize};
	</select>

	<select id="goodsListOnsale" resultType="com.spring.cjs200809.vo.GoodsVo">
		select * from goods order by gDISCOUNT desc limit #{startNo},#{pageSize};
	</select>

	<select id="goodsTotRecCnt" resultType="int">
		select count(*) from goods;
	</select>
	
	<insert id="addCart">
		insert into cart values(default,#{mMID},#{gIDX},#{cQTY},#{goIDX},default);
	</insert>
	
	<insert id="addWishlist">
		insert into wishlist values(default,#{mMID},#{gIDX});
	</insert>
	
	<select id="checkWishlist" resultType="String">
		select wIDX from wishlist where mMID=#{mMID} and gIDX=#{gIDX} limit 1;
	</select>
	
	<select id="getMyCart" resultType="com.spring.cjs200809.vo.CartVo">
		select c.*, go.goNAME, g.gNAME, g.gPRICE, g.gDISCOUNT, g.gIMAGE
			from cart c
			left outer join goods g on c.gIDX = g.gIDX
			left outer join goods_option go 
				on c.gIDX= g.gIDX and c.goIDX=go.goIDX 
			where c.mMID = #{mMID};
	</select>
	
	<select id="mainGoodsListNew" resultType="com.spring.cjs200809.vo.GoodsVo">
		select gIDX,gIMAGE,gPRICE,gDISCOUNT,gNAME
			from goods order by gIDX desc limit 4;
	</select>
	
	<select id="mainGoodsListHot" resultType="com.spring.cjs200809.vo.GoodsVo">
		select gIDX,gIMAGE,gPRICE,gDISCOUNT,gNAME
			from goods order by gSALES desc limit 4;
	</select>
	
	<select id="mainGoodsListOnsale" resultType="com.spring.cjs200809.vo.GoodsVo">
		select gIDX,gIMAGE,gPRICE,gDISCOUNT,gNAME
			from goods order by gDISCOUNT desc limit 4;
	</select>
	
	<select id="checkMyCart" resultType="int">
		select count(*) from cart where mMID=#{mMID} and gIDX=#{gIDX} and goIDX=#{goIDX};
	</select>
	
	<update id="updateMyCart">
		update cart set cQTY=cQTY+#{cQTY} where mMID=#{mMID} and gIDX=#{gIDX} and goIDX=#{goIDX};
	</update>
	
	<delete id="cartDelete">
		delete from cart where cIDX=#{cIDX};
	</delete>
	
	<insert id="addOrderDetail">
		insert into order_detail values (default,#{ordernumber},#{gIDX},#{goIDX},#{odQTY},default);
	</insert>
	
	<delete id="subtractFromCart">
		delete from cart where gIDX=#{gIDX} and goIDX=#{goIDX} and mMID=#{mMID};
	</delete>
	
	<update id="decreaseStock">
		update goods set gSTOCK=gSTOCK-#{odQTY} where gIDX=#{gIDX};
	</update>
	
	<update id="increaseSales">
		update goods set gSALES=gSALES+#{odQTY} where gIDX=#{gIDX}; 
	</update>
	
	<insert id="addOrder">
		insert into orderinfo values (default,#{vo.mMID},default,#{vo.oNAME},#{vo.oPHONE},#{vo.oADDRESS},#{vo.oAMOUNT},#{vo.oEMONEY},#{vo.cpIDX},#{vo.oPAYMENT},#{vo.oNVOICE},default);
	</insert>
	
	<select id="goodsSearch" resultType="com.spring.cjs200809.vo.GoodsVo">
		select gIDX,gIMAGE,gPRICE,gDISCOUNT,gNAME 
			from goods 
				where gNAME like concat('%',#{strSearch},'%')
					order by gIDX desc;
	</select>
	
	<select id="goodsSearchCnt" resultType="int">
		select count(gIDX)
			from goods 
				where gNAME like concat('%',#{strSearch},'%');
	</select>

</mapper>