<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cjs200809.dao.MemberDao">
	
	<select id="IdCheck" resultType="com.spring.cjs200809.vo.MemberVo">
		select * from member where mMID = #{mMID};
	</select>

	<select id="EmailCheck" resultType="com.spring.cjs200809.vo.MemberVo">
		select * from member where mEMAIL = #{mEMAIL};
	</select>
	
	<insert id="memberJoin">
		insert into member values (default,#{vo.mMID},#{vo.mPWD},#{vo.mNAME},#{vo.mEMAIL},#{vo.mPHONE},#{vo.mADDRESS},#{vo.mGENDER},#{vo.mBDAY},default,default,default,#{vo.mRECEIVEAD},default);
	</insert>
	
	<select id="findId" resultType="com.spring.cjs200809.vo.MemberVo">
		select * from member where mNAME=#{mNAME} and mEMAIL=#{mEMAIL};
	</select>

	<select id="findPwd" resultType="com.spring.cjs200809.vo.MemberVo">
		select * from member where mNAME=#{mNAME} and mMID=#{mMID} and mEMAIL=#{mEMAIL};
	</select>
	
	<update id="TempPwdChange">
		update member set mPWD=#{encode} where mMID=#{mMID};
	</update>

	<update id="memberUpdate">
		update member set mPWD=${vo.mPWD}, mNAME=${vo.mNAME}, mEMAIL=${vo.mEMAIL}, mPHONE=${vo.mPHONE}, mADDRESS=${vo.mADDRESS}, mGENDER=${vo.mGENDER}, mBDAY=${vo.mBDAY}, mRECEIVEAD=${vo.mRECEIVEAD} where mMID=${vo.mMID};
	</update>
	
	<update id="memberDelete">
		update member set mDROPOUT='Y' where mMID=#{mMID};
	</update>

</mapper>