<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cjs200809.dao.MemberDao">
	
	<select id="IdCheck" resultType="com.spring.cjs200809.vo.MemberVo">
		select * from member where mMID = #{mMID};
	</select>

	<select id="EmailCheck" resultType="com.spring.cjs200809.vo.MemberVo">
		select * from member where mEMAIL = #{mEMAIL};
	</select>
	
	<insert id="memberJoin">
		insert into member values (default,#{vo.mMID},#{vo.mPWD},#{vo.mNAME},#{vo.mEMAIL},#{vo.mPHONE},#{vo.mADDRESS},#{vo.mGENDER},#{vo.mBDAY},default,default,default,#{vo.mRECEIVEAD},default);
	</insert>
	
	<select id="findId" resultType="com.spring.cjs200809.vo.MemberVo">
		select * from member where mNAME=#{mNAME} and mEMAIL=#{mEMAIL};
	</select>

	<select id="findPwd" resultType="com.spring.cjs200809.vo.MemberVo">
		select * from member where mNAME=#{mNAME} and mMID=#{mMID} and mEMAIL=#{mEMAIL};
	</select>
	
	<update id="TempPwdChange">
		update member set mPWD=#{encode} where mMID=#{mMID};
	</update>

	<update id="memberUpdate">
		update member set mPWD=#{vo.mPWD}, mNAME=#{vo.mNAME}, mPHONE=#{vo.mPHONE}, mADDRESS=#{vo.mADDRESS}, mGENDER=#{vo.mGENDER}, mBDAY=#{vo.mBDAY}, mRECEIVEAD=#{vo.mRECEIVEAD} where mMID=#{vo.mMID};
	</update>
	
	<update id="memberDelete">
		update member set mDROPOUT='Y' where mMID=#{mMID};
	</update>
	
	<select id="getMyCartNumber" resultType="int">
		select count(*) from cart where mMID=#{mMID};
	</select>

	<select id="getMyAddress" resultType="String">
		select mADDRESS from member where mMID=#{mMID};
	</select>
	
	<update id="addEmoneyMember">
		update member set mEMONEY=mEMONEY+#{addedEmoney} where mMID=#{mMID};
	</update>
	
	<select id="getMyCouponList" resultType="com.spring.cjs200809.vo.CouponVo">
		SELECT * FROM coupon
			WHERE DATE(NOW()) BETWEEN DATE(cpSTARTDATE) AND DATE(cpENDDATE) 
				AND mMID= #{mMID} AND cpUSE='N' order by cpIDX desc;		
	</select>
	
	<update id="subtractEmoney">
		update member set mEMONEY = mEMONEY-#{oEMONEY} where mMID=#{mMID};
	</update>
	
	<update id="useCoupon">
		update coupon set cpUSE='Y' where cpIDX=#{cpIDX} and mMID=#{mMID};
	</update>
	
	<select id="getMyEmoney" resultType="int">
		select mEMONEY from member where mMID=#{mMID};		
	</select>
	
	<select id="getMyEmailAddress" resultType="String">
		select mEMAIL from member where mMID=#{mMID};
	</select>
	
</mapper>