<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.cjs200809.dao.ReviewDao">

	<insert id="writeReview">
		insert into review values (default,#{vo.oNVOICE},#{vo.gIDX},#{vo.rNAME},#{vo.mMID},#{vo.rTITLE},#{vo.rCONTENT},default,default,default,#{vo.rFNAME},#{vo.rRFNAME});
	</insert>
	
	<select id="checkMyOrderforReview" resultType="com.spring.cjs200809.vo.OrderDetailVo">
		select od.odIDX, od.oNVOICE, od.gIDX, od.odREVIEW
			from order_detail od
				left join orderinfo o on od.oNVOICE=o.oNVOICE
						where od.gIDX=#{gIDX} 
							and o.mMID=#{mMID} 
							and od.odREVIEW='N'
							and date(now()) &lt; date_add(o.oDATE, interval +1 month) limit 1;
	</select>
	
	<update id="changeReviewStatus">
		update order_detail set odREVIEW='Y' where oNVOICE=#{oNVOICE} and gIDX=#{gIDX};
	</update>

	<select id="getReviewList" resultType="com.spring.cjs200809.vo.ReviewVo">
		select * from review where gIDX=#{gIDX} order by rIDX desc limit #{startNo},#{pageSize};
	</select>
	
	<select id="reviewTotRecCnt" resultType="int">
		select count(*) from review where gIDX=#{partValue};
	</select>
	
	<update id="addReviewViewCnt">
		update review set rVIEW=rVIEW+1 where rIDX=#{rIDX};
	</update>
	
	<update id="addHelpCnt">
		update review set rHELP=rHELP+1 where rIDX=#{rIDX};
	</update>
	
	<select id="viewReview" resultType="com.spring.cjs200809.vo.ReviewVo">
		select * from review where rIDX=#{rIDX};
	</select>
	
	<delete id="deleteReview">
		delete from review where rIDX=#{rIDX};
	</delete>
	
</mapper>